<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>宙斯运维管理系统</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/admin/images/favicon.ico">
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <script src="/static/admin/js/base.js"></script>


    <meta charset="utf-8">
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/themes/grid-light.js"></script>

</head>
<body>

<script src="/static/admin/vendor/global/global.min.js"></script>
<script src="/static/admin/js/custom.min.js"></script>
<script src="/static/admin/js/deznav-init.js"></script>
<script src="/static/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/static/admin/vendor/chart.js/Chart.bundle.min.js"></script>
<script src="/static/admin/vendor/owl-carousel/owl.carousel.js"></script>
<script src="/static/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>





