{{template "../public/page_header.html" .}}


<div class="layui-body" style="left: 205px">
    <table class="layui-table">

        <div class="panel-body">
            <form role="form" class="form-inline">
                <div>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal"><i
                                class="layui-icon layui-icon-addition"></i>SSL证书
                    </button>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal"><i
                                class="layui-icon layui-icon-survey"></i>更新
                    </button>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal"><i
                                class="layui-icon layui-icon-export"></i>导出
                    </button>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal"><i
                                class="layui-icon layui-icon-upload-circle"></i>导入
                    </button>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal"><i
                                class="layui-icon layui-icon-delete"></i>删除
                    </button>
                </div>
                <div style="float: right">
                    <input style="padding: 7px 0px;transform: translateY(10%)" type="text" class="form-control"
                           value="{{.keyword}}" id="keyword" name="keyword" placeholder="请输入IP">
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-primary"><i
                                class="layui-icon layui-icon-refresh-3"></i></button>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal">开始搜索
                    </button>
                </div>
            </form>
        </div>

        <thead>
        <tr>
            <th><input type="checkbox" name="" lay-skin="primary"></th>
            <th>ID</th>
            <th>名称</th>
            <th>域名</th>
            <th>状态</th>
            <th>负责人</th>
            <th>描述</th>
            <th>过期时间</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        {{range $key,$value := .certificateList}}

            <tr>
                <td><input type="checkbox" name="" lay-skin="primary"></td>
                <td>{{$value.Id}}</td>
                <td>{{$value.CertificateName}}</td>
                <td>{{$value.DomainName}}</td>
                <td class="text-center">
                    {{if eq $value.Status 1}}
                        <button class="layui-btn layui-btn-sm">已使用</button>
                    {{else if eq $value.Status 2}}
                        <button class="layui-btn layui-btn-danger layui-btn-sm">已过期</button>
                    {{else if eq $value.Status 3}}
                        <button class="layui-btn layui-btn-normal layui-btn-sm">待用</button>
                    {{end}}
                </td>
                <td>
                    <button class="layui-btn layui-btn-sm">{{$value.PersonInCharge}}</button>
                </td>
                <td>{{$value.Describe}}</td>
                <td>
                    <button class="layui-btn layui-btn-danger layui-btn-sm">{{$value.ExpirationTime | unixToDate}}</button>
                </td>
                <td>{{$value.AddTime | unixToDate}}</td>
                <td>
                    <button type="button" class="layui-btn layui-btn-sm">
                        <i class="layui-icon">&#xe642;</i>
                    </button>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <div style="float: right" id="phost_count"></div>
</div>


</div>


<script src="/static/layui/layui.js"></script>

<script>
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        laypage.render({
            elem: 'phost_count'
            , count: {{.count}} + {{.num}} //数据总数，从服务端得到
            , limit: {{.pageSize}}  //每页显示多少


        });
    });
</script>

</body>
</html>