{{template "../public/page_header.html" .}}


<div class="layui-body" style="left: 205px">
    <table class="layui-table">

        <div class="panel-body">
            <form role="form" class="form-inline">
                <div>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal"><i
                                class="layui-icon layui-icon-addition"></i>域名
                    </button>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal"><i
                                class="layui-icon layui-icon-survey"></i>更新
                    </button>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal"><i
                                class="layui-icon layui-icon-export"></i>导出
                    </button>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal"><i
                                class="layui-icon layui-icon-upload-circle"></i>导入
                    </button>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal"><i
                                class="layui-icon layui-icon-delete"></i>删除
                    </button>
                </div>
                <div style="float: right">
                    <input style="padding: 7px 0px;transform: translateY(10%)" type="text" class="form-control"
                           value="{{.keyword}}" id="keyword" name="keyword" placeholder="请输入IP">
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-primary"><i
                                class="layui-icon layui-icon-refresh-3"></i></button>
                    <button style="margin:0px;transform: translateY(10%)" class="layui-btn layui-btn-normal">开始搜索
                    </button>
                </div>
            </form>
        </div>

        <thead>
        <tr>
            <th><input type="checkbox" name="" lay-skin="primary"></th>
            <th>ID</th>
            <th>域名</th>
            <th>IP地址</th>
            <th>解析记录类型</th>
            <th>CNAME记录值</th>
            <th>项目名称</th>
            <th>WAF标签</th>
            <th>LB标签</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        {{range $key,$value := .domainNameList}}

            <tr>
                <td><input type="checkbox" name="" lay-skin="primary"></td>
                <td>{{$value.Id}}</td>
                <td>{{$value.DomainName}}</td>
                <td>
                    <button class="layui-btn layui-btn-sm">{{$value.Intranet}}</button>
                </td>
                <td class="text-center">
                    {{if eq $value.ResolveRecordType 1}}
                        <button class="layui-btn layui-btn-sm">非DNS记录</button>
                    {{else if eq $value.ResolveRecordType 2}}
                        <button class="layui-btn layui-btn-sm">A记录</button>
                    {{else if eq $value.ResolveRecordType 3}}
                        <button class="layui-btn layui-btn-sm">CNAME记录</button>
                    {{end}}
                </td>
                <td>
                    <button class="layui-btn layui-btn-sm">{{$value.CameValue}}</button>
                </td>
                <td>
                    <button class="layui-btn layui-btn-sm">{{$value.EntryName}}</button>
                </td>
                <td class="text-center">
                    {{if eq $value.WafLabel 1}}
                        <button class="layui-btn layui-btn-sm">是</button>
                    {{else if eq $value.WafLabel 2}}
                        <button class="layui-btn layui-btn-disabled layui-btn-sm">否</button>
                    {{end}}
                </td>

                <td class="text-center">
                    {{if eq $value.LbLabel 1}}
                        <button class="layui-btn layui-btn-sm">是</button>
                    {{else if eq $value.LbLabel 2}}
                        <button class="layui-btn layui-btn-disabled layui-btn-sm">否</button>
                    {{end}}
                </td>

                <td>{{$value.AddTime | unixToDate}}</td>
                <td>
                    <button type="button" class="layui-btn layui-btn-sm">
                        <i class="layui-icon">&#xe642;</i>
                    </button>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <div style="float: right" id="domainNameList_count"></div>
</div>

</div>


<script src="/static/layui/layui.js"></script>

<script>
    layui.use('laypage', function () {
        var laypage = layui.laypage;

        laypage.render({
            elem: 'domainNameList_count'
            , count: {{.count}} + {{.num}} //数据总数，从服务端得到
            , limit: {{.pageSize}}  //每页显示多少


        });
    });
</script>

</body>
</html>